.profilePic {
  width: 15vw;
  height: 45vh;
  margin-right: 2.5vw;
}

.about {
  display:flex;
  align-items: flex-start;
  justify-content: center;

}

.paragraph {
  display:inline-block;
  word-wrap: break-word;
  width: 500px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7vh;
}

.page {
  background-color: rgb(215, 181, 161);
  margin:0vh;
  padding:12vh;
  float:left;
}
