.nav{
  /* display:flex; */
  position: fixed;
  top: 0px;
  /* justify-content: space-around; */
  /* align-items: center; */
  min-height: 5vh;
  color: white;
  font-size: 45px;
  text-shadow: 1px 1px 10px grey;
  margin: 0;
  padding:0;
  background-color: rgb(107, 107, 107);
  width: 100%
}

.icon {
  width: 50px;
  height: 50px;
  margin-top: 7px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 20%;
}

.pageLinks {
  margin-top: 0.5vh;
  float:left;
  display: inline-block;
  text-align: center;

}

.name {
  margin-top: 0.5vh;
  float:left;
  display: inline-block;
  text-align: center;
}

.iconLinks {
  float:right;
}

.active {
  color: white;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color:rgb(172, 171, 171);
}

.link:active{
  color:red;
}

a#aboutButton:focus {
  color:red;
}
