.title {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.tiles {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.puppyCss {
  max-width: 1500px;
  height: 800px;
}

.harmonyCss {
  max-width: 400px;
  max-height: 800px;
}