.container {
  /* width: 40vw;
  height: 30vh; */
  display: flex;
  /* flex-direction: column; */
  width: 1600px;
  height: 500px;
  border: 1px;
  border-style: solid;
  margin-bottom: 5vh;
}

.imgContainer {
  display:flex;
  justify-content: center;
  width: 1000px;
  height:500px;
  border:1px;
  border-style: solid;
}

.img {
  /* width: 3; */
  max-width: 700px;
  max-height: 500px;
}

.img:hover {
  cursor: pointer;
}

.textBlock {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 30px;
}

.textComponent {
  margin-bottom: 40px;
}

.iconLinks {
  /* display: flex;
  align-items: center;
  vertical-align: middle; */
  /* float:left;
  justify-content: center; */

  align-items: center;
  width: 50px;
  height: 50px;
  mix-blend-mode: multiply;
  margin-right: 2px;
}

.myButton {
  display:flex;
  width: 200px;
  /* align-items: center;
  vertical-align: middle;
  justify-content: center; */
  align-items: left;
  vertical-align: middle;
  align-items: center;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:12px;
	border:1px solid #dcdcdc;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:3px 3px;
  /* padding-right: 9px; */
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
  margin-right: 0.5vw;
}

.myButton:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.myButton:active {
	position:relative;
	top:1px;
}

.link {
  text-decoration: none;
}

.modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  margin: 0 auto;
  background-color: papayawhip;
  width: 1500px;
  height: 95vh;
  overflow-y: auto;
}

.imgModalContainer {
  display: flex;
  justify-content: center;
}

.carouselContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  /* margin-left: 200px; */
}

.carousel {
  display: flex;
  justify-content: center;
  /* margin-left: 300px; */
}

.imgTest {
  display: flex;
  justify-content: center;
}

.modalTextComponent {
  display: flex;
  justify-content: center;
  width: 700px;
  height: 170px;
  /* border: solid; */
}

.modalTextContainer {
  display: flex;
  justify-content: center;

}

.modalTechList {
  margin-bottom: 40px;
  margin-left: 90px;
}

.modalParagraph {
  font-size: large;
}

.modalTextContainer {
  display: flex;
  justify-content: center;
}

.modalButton {
  display: flex;
  justify-content: flex-start;
  margin-left: 380px;
  /* width: 200px; */
  /* margin-left: 17.7vw; */
}

.myButtonModal {
  display:flex;
  width: 200px;
  /* align-items: center;
  vertical-align: middle;
  justify-content: center; */
  align-items: left;
  vertical-align: middle;
  align-items: center;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:12px;
	border:1px solid #dcdcdc;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:3px 3px;
  /* padding-right: 9px; */
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
  margin-right: 0.5vw;
}

.myButtonModal:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.myButtonModal:active {
	position:relative;
	top:1px;
}

.blockContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* width:700px; */
  /* border: solid; */
}