.listStructure {
  display: inline-flex;
}

.list {
  /* width: 50%;
  float: left;
  padding: 20px; */
  /* flex: 1; */
  margin-right: 5vw;
}

.container {
  display: flex;
  justify-content: center;
  /* margin-left: 30vw; */
}

.title {
  display: flex;
  justify-content: center;
 /*  margin-left: 18vw; */
}
/* .back {
  width:50%;
  float:right;
  padding:20px;
} */

.background {
  background-color: #72c0da;
}
