.tech {
  border: 1px;
  border-style: solid;
  padding: 5px;
  margin-right: 20px;
  margin-bottom: 13px;
}

.techTitle {
  margin-bottom: 17px;
}

.techContainer {
  display:flex;
  width: 800px;
  flex-wrap: wrap;
}